:root {
    --txt-color: white;
    --inp-border: #3498db;
    --accent-color: #3a8659;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

h1 {
    color: var(--txt-color);
    text-transform: uppercase;
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--inp-border);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: var(--txt-color);
    border-radius: 24px;
    transition: 0.25s;
}

input[type="text"]:focus, input[type="password"]:focus {
    width: 270px;
    border-color: var(--accent-color);
}

input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--accent-color);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: var(--accent-color);
}